* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color:bisque;
    color: black;
    line-height: 1.6;
    height: 100vh;
   
  
  
}

.container-imagens{
display: flex;
align-items: center;
gap: 5px;
justify-content: center;
}


header {
    background-color: bisque;
    padding: 10px 20px;
    display: flex;
    align-items: center;
  align-content: space-between;

   
    
     font-family: Arial, Helvetica, sans-serif;
      line-height: 1.6;
      margin: 0;
      gap: 32px;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

header .logo {
    width: 60px;
    height: 60px;
    border-radius: 60px;
}


.site-title {
    font-size: 1.8rem;
    color: #4a2c2a;
    text-align: center;
    padding-top: 20%;
    font-family: Arial, Helvetica, sans-serif;
    ;
}


.hero {
    position: relative;
    overflow: hidden;
}

.hero-image {
    width: 100px;
    height: 400px;
    object-fit: cover;
   
}

.overlay-text {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px 15px;
    border-radius: 8px;
 
}

.overlay-text h2 {
    color: white;
    font-size: 1.5rem;
}


.catalogo {
    text-align: center;
    margin: 30px;
}

.catalogo h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
}

.catalogo p {
    margin-bottom: 20px;
    color: #5c3d36;
  
}

img{
    width: 150px;

}




.btn {
    background-color:hotpink;
    color: white;
    padding: 12px 25px;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    font-size: 1rem;
    display: inline-block;
    transition: 0.3s;
}

.btn:hover {
    background-color: #b85c3b;
    transform: scale(1.05);
}

    






@media (max-width: 908px) {
    .hero-image {
        height: 250px;
    }

    .site-title {
        font-size: 1.4rem;
    }

    .overlay-text h2 {
        font-size: 1.2rem;
    }
}




.whatsapp-link{
  position: relative;
  bottom: 12px;         
  left: 50%;            
  transform: translateX(180px); 
  width: 56px;
  height: 56px;
  display: grid;
  place-items: center;
  background: #25D366;
  border-radius: 50%;
  box-shadow: 0 8px 20px rgba(0,0,0,.15);
  z-index: 9999;
}
.whatsapp-link img{ width: 28px; height: 28px;}


@media (max-width: 768px){
  .whatsapp-link{
    transform: translateX(80px); 
  }
}